$primaryColor: #800000;
$secondaryColor: #ffd700;
$primaryHover: #a70000;

$primaryBackground: rgb(240, 240, 240);
$primaryOutline: rgb(197, 197, 197);
$white: rgb(255, 255, 255);

$primaryShadow: rgba(0, 0, 0, 0.056);
$secondaryShadow: rgba(0, 0, 0, 0.12);

$toRightClip: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
$topClip: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
