/* .Generateqln {
  display: flex;
} */

.Generateqln .content {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 100%;
}
.Generateqln .headings {
  width: 100%;
  height: 5vh;
  background-color: #800000;
}

.Generateqln .content .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
}
.Generateqln .content .body {
  width: 100%;
  display: flex;
}

.Generateqln .content .body .GenerateQLNModalfrm {
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
  margin: auto;
}

.Generateqln .content .body .GenerateQLNModalfrm > div {
  margin: 20px;
}

.Generateqln .content .body .GenerateQLNModalfrm > div input,
select {
  margin-top: 5px;
  width: 435px;
  height: 35px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0 5px;
}
.Generateqln .content .body .GenerateQLNModalfrm > div input:focus {
  outline: none !important;
  border: none;
  box-shadow: 0 0 10px #800000;
}

.Generateqln .content .body .GenerateQLNModalfrm > div label {
  width: 200px;
  display: inline-block;
}
.Generateqln .content .body .GenerateQLNModalfrm .generateQLNbtn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  height: 120px;
  border-top: 1px solid rgb(160, 27, 27);
}
.Generateqln .content .body .GenerateQLNModalfrm .generateQLNbtn > button {
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.Generateqln .content .body .GenerateQLNModalfrm .generateQLNbtn .cancel {
  background-color: transparent;
  border: 1px solid #800000;
}
.Generateqln .content .body .GenerateQLNModalfrm .generateQLNbtn .submit {
  background-color: #800000;
  color: white;
  border: none;
}
.req {
  color: red;
}

@media only screen and (351px<= width <= 746px) {
  .Generateqln .headings {
    height: 30px;
  }
  .Generateqln .content .title {
    margin-top: 50px;
    font-size: 1.5rem;
  }
  .Generateqln .content .body .GenerateQLNModalfrm > div input,
  select {
    width: 100%;
    font-size: 1rem;
  }

  .Generateqln .content .body .GenerateQLNModalfrm {
    font-size: 1.2rem;
  }
  .Generateqln .content .body .GenerateQLNModalfrm .generateQLNbtn {
    height: 80px;
    border-top: 1px solid black;
  }
}
@media only screen and (320px <= width <= 350px) {
  .Generateqln .content .title {
    font-size: 1rem;
  }
  .Generateqln .content .body .GenerateQLNModalfrm > div input,
  select {
    font-size: 13px;
    width: 220px;
  }
  .Generateqln .content .body .GenerateQLNModalfrm {
    font-size: 1rem;
  }
  .Generateqln .content .body .GenerateQLNModalfrm .generateQLNbtn > button {
    font-size: 13px;
    padding: 8px 30px;
  }
}
