@use "./util/var.scss" as a;
@use "./mixins/var.scss" as b;

.adminLogin {
  display: flex;
  .hero {
    @include b.flexCenter;
    gap: 30px;
    background: a.$primaryColor;
    width: 60%;
    height: 100vh;
    .Logo {
      height: 300px;
      width: 300px;
    }
    .title {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      color: a.$white;
    }
  }
  .side {
    @include b.flexCenter;
    width: 40%;
    .newform {
      border: 1px solid a.$primaryOutline;
      border-radius: 20px;
      padding: 20px 25px;
      box-shadow: 7.7px 9.7px 12.2px rgba(0, 0, 0, 0.056),
        15px 19px 25px rgba(0, 0, 0, 0.12);
      h3 {
        text-align: center;
        text-transform: capitalize;
      }
      .txtfields {
        > input {
          display: block;
          font-weight: 400;
          font-size: 21px;
          height: 15px;
          width: 300px;
          border: 1px solid a.$primaryOutline;
          border-radius: 10px;
          margin-top: 20px;
          padding: 20px;
          &:focus {
            outline: none;
            border: none;
            box-shadow: 0 0 10px a.$primaryColor;
          }
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
      .cancel {
        padding: 10px 40px;
        border-radius: 10px;
        background-color: none;
        font-size: 15px;
        background-color: transparent;
        border: 1px solid a.$primaryColor;
        cursor: pointer;
      }
      .submit {
        padding: 10px 40px;
        background-color: a.$primaryColor;
        color: a.$white;
        font-size: 15px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: a.$primaryHover;
        }
      }
    }
  }
}
