@use "./util/var.scss" as a;
@use "./mixins//var.scss" as b;
@import "./AdminSignOutbtn.scss";
.maindb {
  display: flex;
  .mainContent {
    @include b.flexCenter;
    height: 100vh;
    width: 100%;
  }
}
