@use "./util/var.scss" as a;
@use "./mixins//var.scss" as b;

.main {
  display: flex;
  .mainContent {
    padding: 20px;
    width: 100%;
    .title {
      h1 {
        padding: 10px 0;
      }
    }
    .tables {
      display: grid;
      gap: 2.5rem;
      .ctrlNowServing {
        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: auto;
        }
      }
      .ctrlQueueLines {
        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: auto;
        }
      }
    }
    // @include b.flexCenter;
    // flex-direction: column;
    // height: 100vh;
    // width: 100%;
  }
}

@import "./AdminSignOutbtn.scss";
@import "./Sidepanel.scss";
