@use "./util/var.scss" as a;
@use "./mixins/var.scss" as b;

.queueSuccess {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 85vh;
  width: 100%;
  .top {
    h3 {
      font-size: 5rem;
    }
  }
  .number {
    h1 {
      font-size: 8rem;
    }
  }
  .note {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0 20px;
    p {
      font-size: 1.8rem;
    }
  }
  .button {
    margin: 20px;
    > button {
      border: none;
      font-weight: 300;
      font-size: 1.4rem;
      border-radius: 15px;
      padding: 10px 15px;
      width: 200px;
      background-color: a.$primaryColor;
      color: white;
      cursor: pointer;
    }
  }
}
